# Data Aggregation and Group Operations

Categorizing a dataset and applyting a function to each group, whether an aggregation or transformation, is often a critical component of a data analyzis workflow. After loading, merging and preparing a dataset, you may need to compute group statistics of possible _pivot tables_ for reporting or visualization purposes. pandas provides a flexible __groupby__ interface, enableing you to slice, dice, and summarize datasets in a natural way.

In [1]:
import numpy as np
import pandas as pd

## GroupBy Mechanism

In [2]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                  'key2': ['one','two','one','two','one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

In [3]:
df

  key1 key2     data1     data2
0    a  one  1.050953  1.570099
1    a  two -0.077968 -1.911157
2    b  one -0.971082  0.708252
3    b  two -0.552767 -0.680019
4    a  one  1.241123  0.092843

In [4]:
grouped = df['data1'].groupby(df['key1'])

In [5]:
grouped # The grouped variable is now a GroupBy object

In [6]:
grouped.mean()

key1
a    0.738036
b   -0.761924
Name: data1, dtype: float64

In [7]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()

In [8]:
means

key1  key2
a     one     1.146038
      two    -0.077968
b     one    -0.971082
      two    -0.552767
Name: data1, dtype: float64

In [9]:
means.unstack()

key2       one       two
key1
a     1.146038 -0.077968
b    -0.971082 -0.552767

In [10]:
states = np.array(['Ohio','Calofornia','California','Ohio','Ohio'])

In [11]:
years = np.array([2005,2005,2006,2005,2006])

In [12]:
df['data1'].groupby([states,years]).mean()

California  2006   -0.971082
Calofornia  2005   -0.077968
Ohio        2005    0.249093
            2006    1.241123
Name: data1, dtype: float64

In [13]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.738036 -0.082738
b    -0.761924  0.014117

In [14]:
df.groupby(['key1','key2']).mean()

              data1     data2
key1 key2
a    one   1.146038  0.831471
     two  -0.077968 -1.911157
b    one  -0.971082  0.708252
     two  -0.552767 -0.680019

In [15]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

### Iterating Over Groups

In [16]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one  1.050953  1.570099
1    a  two -0.077968 -1.911157
4    a  one  1.241123  0.092843
b
  key1 key2     data1     data2
2    b  one -0.971082  0.708252
3    b  two -0.552767 -0.680019

In [17]:
for (k1,k2), group in df.groupby(['key1','key2']):
    print((k1,k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one  1.050953  1.570099
4    a  one  1.241123  0.092843
('a', 'two')
  key1 key2     data1     data2
1    a  two -0.077968 -1.911157
('b', 'one')
  key1 key2     data1     data2
2    b  one -0.971082  0.708252
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.552767 -0.680019

In [18]:
pieces = dict(list(df.groupby('key1')))

In [19]:
pieces['b']

  key1 key2     data1     data2
2    b  one -0.971082  0.708252
3    b  two -0.552767 -0.680019

In [20]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [21]:
grouped = df.groupby(df.dtypes,axis=1)

In [22]:
for dtype, group in grouped:
    print(dtype)
    print(group)

float64
      data1     data2
0  1.050953  1.570099
1 -0.077968 -1.911157
2 -0.971082  0.708252
3 -0.552767 -0.680019
4  1.241123  0.092843
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

### Selecting a Column or Subset of Columns

In [23]:
df.groupby('key1')['data1']

In [24]:
df.groupby('key1')['data2']

In [25]:
df.groupby(['key1','key2'])[['data2']].mean()

              data2
key1 key2
a    one   0.831471
     two  -1.911157
b    one   0.708252
     two  -0.680019

In [26]:
s_grouped = df.groupby(['key1','key2'])['data2']

In [27]:
s_grouped

In [28]:
s_grouped.mean()

key1  key2
a     one     0.831471
      two    -1.911157
b     one     0.708252
      two    -0.680019
Name: data2, dtype: float64

### Grouping with Dicts and Series

In [29]:
b = 14

In [30]:
c = 21

In [31]:
d = 24

In [34]:
x = 45
b = 17

In [35]:
d = 21

### Grouping with Functions

### Grouping by Index Levels

## Data Aggregation

### Column-Wise and Multiple Function Application

### Returning Aggregated Data Without Row Indexes

## Apply: General split-apply-combine

### Suppressing the Group Keys

### Quantile and Bucket Analysis

### Example: Filling Missign Values with Group-Specific Values

### Example: Random Sampling and Permutation

### Example: Group Weighted Average and Correlation

### Example: Group-Wise Linear Regression

## Pivot Tables and Cross-Tabulation

### Cross-Tabulation: Crossstab