# Time Series

__Time series__ data is an important form of structured data in many different fields, such as finance, economics, ecology, neuroscience, and physics. Anything that is observed or measured at many points in time forms a time series. Many time series are _fixed frequency_, which is to say that data pints occur at regular intervals according to some rule, such as 15 seconds, every 5 minutes, or once per month. Time series can also be _irregular_ without a fixed unit of time or offset between the units. How you mark and refer to time series data depends on the application, and you may have one of the following:
- __Timestamps__, specific instants in time
- Fixed __periods__, such as the month January 2007 or the full year 2010
- __Intervals__ of time, indicated by a start and end timestamp. Periods can be thought of as specialcase of intervals
- Experiment or elapsed time; each timestamp is a measure of time relative to a particular start time (e.g., the diameter of a cookie baking each second since being placed in the oven)

In this chapter, we are mainly concerned with time series in the first three categories, though many of the techniques can be applied to experimental time series where the index may be an integer or floating-point number indicating elpsed time for the start of the experiment. The simplest and most widely used kind of time series are those indexed by timestamp.

__pandas__ provides many built-in time series tools and data algorithms. You can efficiently work woth very large time series and easily slice and dice, aggregate, and resample irregular- and fixed-frequency time series. Some of these tools are espcially useful for financial and economics applications, but you could certainly use them to analyze server log data, too.

## Data and Time Data Types and Tools

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
now = datetime.now()

In [5]:
now

datetime.datetime(2019, 4, 25, 23, 59, 52, 773373)

In [6]:
now.year, now.month, now.day

(2019, 4, 25)

In [7]:
delta = datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [8]:
delta

datetime.timedelta(days=926, seconds=56700)

In [9]:
delta.days

926

In [10]:
delta.seconds

56700

In [11]:
from datetime import timedelta

In [12]:
start = datetime(2011,1,7)

In [13]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [14]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Tools

In [15]:
stamp = datetime(2011,1,3)

In [16]:
str(stamp)

'2011-01-03 00:00:00'

In [17]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [18]:
value = '2011-01-03'

In [19]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
datestrs = ['7/6/2011', '8/6/2011']

In [21]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [22]:
from dateutil.parser import parse

In [23]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [25]:
parse('6/12/2011', dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

In [26]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [27]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [28]:
idx = pd.to_datetime(datestrs + [None])

In [29]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [30]:
idx[2]

NaT

In [31]:
pd.isnull(idx)

array([False, False,  True])

## Time Series Basics

In [32]:
from datetime import datetime

In [33]:
dates = [datetime(2011,1,2), datetime(2011,1,5),
        datetime(2011,1,7), datetime(2011,1,8),
        datetime(2011,1,10),datetime(2011,1,12)]

In [34]:
ts = pd.Series(np.random.randn(6),index=dates)

In [35]:
ts

2011-01-02    0.073327
2011-01-05    0.630215
2011-01-07   -0.515567
2011-01-08    0.978125
2011-01-10    0.204779
2011-01-12    0.667530
dtype: float64

In [36]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [37]:
ts + ts[::2]

2011-01-02    0.146654
2011-01-05         NaN
2011-01-07   -1.031134
2011-01-08         NaN
2011-01-10    0.409559
2011-01-12         NaN
dtype: float64

In [38]:
ts.index.dtype

dtype('<M8[ns]')

In [39]:
stamp = ts.index[0]

In [40]:
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [41]:
stamp = ts.index[2]

In [42]:
ts[stamp]

-0.5155669469431633

In [43]:
ts['1/10/2011']

0.20477944185837646

In [44]:
ts['20110110']

0.20477944185837646

In [45]:
longer_ts = pd.Series(np.random.randn(1000),
                     index=pd.date_range('1/1/2000',periods=1000))

In [46]:
longer_ts

2000-01-01   -0.168317
2000-01-02    0.288088
2000-01-03    2.565815
2000-01-04    1.477412
2000-01-05    0.862165
2000-01-06    0.454517
2000-01-07   -1.282565
2000-01-08    0.841903
2000-01-09   -1.776712
2000-01-10   -0.778952
2000-01-11   -1.150326
2000-01-12    0.877295
2000-01-13    0.074990
2000-01-14    0.270174
2000-01-15    0.525644
2000-01-16   -0.552844
2000-01-17    0.992982
2000-01-18   -0.832651
2000-01-19    0.842380
2000-01-20   -1.640650
2000-01-21    0.916223
2000-01-22   -0.673613
2000-01-23    1.620849
2000-01-24   -0.421150
2000-01-25    1.436262
2000-01-26    0.166856
2000-01-27    1.543847
2000-01-28   -0.524232
2000-01-29    1.375952
2000-01-30   -0.059518
                ...
2002-08-28    1.107717
2002-08-29   -0.882450
2002-08-30   -0.121255
2002-08-31    0.294553
2002-09-01    1.113639
2002-09-02    0.067861
2002-09-03    1.335008
2002-09-04   -0.751257
2002-09-05   -0.555548
2002-09-06    0.726299
2002-09-07   -0.203698
2002-09-08   -0.185840
2002-09-09    0.199765
2002-09-10    0.510265
2002-09-11   -1.139269
2002-09-12   -1.303731
2002-09-13    1.354430
2002-09-14   -0.070952
2002-09-15    3.084188
2002-09-16   -0.840384
2002-09-17   -0.019809
2002-09-18    0.428964
2002-09-19   -1.086410
2002-09-20    1.718926
2002-09-21   -0.722276
2002-09-22    1.313994
2002-09-23   -0.062992
2002-09-24   -0.481041
2002-09-25   -1.972474
2002-09-26   -0.943620
Freq: D, Length: 1000, dtype: float64

In [47]:
longer_ts['2001']

2001-01-01   -1.363946
2001-01-02    0.558659
2001-01-03    0.835809
2001-01-04    1.862926
2001-01-05    0.787845
2001-01-06   -0.726918
2001-01-07    0.806803
2001-01-08   -0.297558
2001-01-09   -1.278834
2001-01-10   -0.251004
2001-01-11   -0.625263
2001-01-12   -0.775495
2001-01-13    0.536094
2001-01-14   -0.055361
2001-01-15   -1.270647
2001-01-16    1.482120
2001-01-17    0.748067
2001-01-18    0.937876
2001-01-19   -0.642131
2001-01-20   -0.351656
2001-01-21    0.736234
2001-01-22   -0.316689
2001-01-23    0.896591
2001-01-24   -1.278118
2001-01-25   -0.851159
2001-01-26    0.399553
2001-01-27    0.368654
2001-01-28    0.593918
2001-01-29    1.110293
2001-01-30   -1.011446
                ...
2001-12-02    0.362594
2001-12-03   -0.698379
2001-12-04   -0.607658
2001-12-05   -2.024078
2001-12-06    0.691196
2001-12-07   -0.430118
2001-12-08    0.194222
2001-12-09   -0.098307
2001-12-10    1.401699
2001-12-11    0.206557
2001-12-12    0.792574
2001-12-13    0.244878
2001-12-14    0.030258
2001-12-15    0.954805
2001-12-16    1.349449
2001-12-17   -0.285589
2001-12-18   -0.836622
2001-12-19    0.332179
2001-12-20    0.610692
2001-12-21    0.763104
2001-12-22   -2.359196
2001-12-23    0.566903
2001-12-24   -1.115245
2001-12-25    0.547824
2001-12-26   -0.929913
2001-12-27    0.425729
2001-12-28   -1.175784
2001-12-29    0.145664
2001-12-30   -0.598951
2001-12-31   -0.592471
Freq: D, Length: 365, dtype: float64

In [48]:
longer_ts['2001-05']

2001-05-01   -0.866481
2001-05-02   -0.430827
2001-05-03    0.291051
2001-05-04    0.429103
2001-05-05   -1.161676
2001-05-06    0.064533
2001-05-07   -0.372265
2001-05-08   -1.164227
2001-05-09    0.576807
2001-05-10   -0.488890
2001-05-11    1.076502
2001-05-12   -0.139076
2001-05-13   -0.180255
2001-05-14   -1.400350
2001-05-15    2.678540
2001-05-16    1.456211
2001-05-17    1.638442
2001-05-18    1.489560
2001-05-19   -0.211991
2001-05-20   -0.995655
2001-05-21   -1.927275
2001-05-22   -0.581866
2001-05-23   -1.207762
2001-05-24   -0.402452
2001-05-25    0.521755
2001-05-26    1.770832
2001-05-27    0.683844
2001-05-28    1.715454
2001-05-29   -0.014792
2001-05-30   -1.088379
2001-05-31    0.637183
Freq: D, dtype: float64

In [49]:
ts[datetime(2011,1,7):]

2011-01-07   -0.515567
2011-01-08    0.978125
2011-01-10    0.204779
2011-01-12    0.667530
dtype: float64

In [50]:
ts

2011-01-02    0.073327
2011-01-05    0.630215
2011-01-07   -0.515567
2011-01-08    0.978125
2011-01-10    0.204779
2011-01-12    0.667530
dtype: float64

In [51]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.515567
2011-01-08    0.978125
2011-01-10    0.204779
dtype: float64

In [52]:
ts.truncate(after='1/9/2011')

2011-01-02    0.073327
2011-01-05    0.630215
2011-01-07   -0.515567
2011-01-08    0.978125
dtype: float64

In [53]:
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')

In [54]:
long_df = pd.DataFrame(np.random.randn(100,4),
                      index = dates,
                      columns = ['Colorado','Texas',
                                'New York', 'Ohio'])

In [55]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -2.611622 -0.339285  0.554774 -1.521520
2001-05-09  0.487457  2.079386 -0.340441 -0.577648
2001-05-16 -0.667843 -0.578294 -1.099589 -0.505883
2001-05-23  0.047992 -1.402643 -0.382791 -0.961293
2001-05-30 -0.758643 -0.544915 -1.610462 -1.504646

### Time Series with Duplicate Indices

In [56]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000',
                          '1/2/2000','1/3/2000'])

In [57]:
dup_ts = pd.Series(np.arange(5),index=dates)

In [58]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [59]:
dup_ts.index.is_unique

False

In [60]:
dup_ts['1/3/2000'] # not duplicated

4

In [61]:
dup_ts['1/2/2000'] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [62]:
grouped = dup_ts.groupby(level=0)

In [63]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [64]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Date Ranges, Frequencies, and Shifting

In [65]:
ts

2011-01-02    0.073327
2011-01-05    0.630215
2011-01-07   -0.515567
2011-01-08    0.978125
2011-01-10    0.204779
2011-01-12    0.667530
dtype: float64

In [66]:
resampler = ts.resample('D') # 'D' stands for daily frequency

### Generating Data Ranges

In [67]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [68]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [69]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range(start='2012-06-01', periods=20)

DatetimeIndex(['2012-06-01', '2012-06-02', '2012-06-03', '2012-06-04',
               '2012-06-05', '2012-06-06', '2012-06-07', '2012-06-08',
               '2012-06-09', '2012-06-10', '2012-06-11', '2012-06-12',
               '2012-06-13', '2012-06-14', '2012-06-15', '2012-06-16',
               '2012-06-17', '2012-06-18', '2012-06-19', '2012-06-20'],
              dtype='datetime64[ns]', freq='D')

In [71]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [72]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Data Offsets

In [74]:
from pandas.tseries.offsets import Hour, Minute

In [75]:
hour = Hour()

In [76]:
hour

In [77]:
four_hours = Hour(4)

In [78]:
four_hours

In [79]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [80]:
Hour(2) + Minute(30)

In [81]:
pd.date_range('2000-01-01',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### Week of month dates

In [82]:
rng = pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI')

In [83]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data

In [84]:
ts = pd.Series(np.random.randn(4),
              index=pd.date_range('1/1/2000',periods=4,freq='M'))

In [85]:
ts

2000-01-31    0.723987
2000-02-29   -1.359917
2000-03-31   -0.296294
2000-04-30    0.891641
Freq: M, dtype: float64

In [86]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.723987
2000-04-30   -1.359917
Freq: M, dtype: float64

In [87]:
ts.shift(-2)

2000-01-31   -0.296294
2000-02-29    0.891641
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [88]:
ts.shift(2,freq='M')

2000-03-31    0.723987
2000-04-30   -1.359917
2000-05-31   -0.296294
2000-06-30    0.891641
Freq: M, dtype: float64

In [89]:
ts.shift(3,freq='D')

2000-02-03    0.723987
2000-03-03   -1.359917
2000-04-03   -0.296294
2000-05-03    0.891641
dtype: float64

In [90]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00    0.723987
2000-02-29 01:30:00   -1.359917
2000-03-31 01:30:00   -0.296294
2000-04-30 01:30:00    0.891641
Freq: M, dtype: float64

#### Shifting dates with offsets

In [91]:
from pandas.tseries.offsets import Day, MonthEnd

In [92]:
now = datetime(2011,11,17)

In [93]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [94]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [95]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [96]:
offset = MonthEnd()

In [97]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [98]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [99]:
ts = pd.Series(np.random.randn(20),
              index=pd.date_range('1/15/2000',periods=20,freq='4d'))

In [100]:
ts

2000-01-15    1.054584
2000-01-19    1.581662
2000-01-23    0.117591
2000-01-27    0.044714
2000-01-31    0.481505
2000-02-04    0.621706
2000-02-08   -3.199837
2000-02-12   -0.098123
2000-02-16    1.013264
2000-02-20   -0.385243
2000-02-24   -1.010008
2000-02-28   -0.058316
2000-03-03   -0.318906
2000-03-07   -0.437067
2000-03-11    0.177030
2000-03-15   -0.602596
2000-03-19   -0.475186
2000-03-23    0.532129
2000-03-27   -1.431599
2000-03-31    0.599487
Freq: 4D, dtype: float64

In [101]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.656011
2000-02-29   -0.445222
2000-03-31   -0.244588
dtype: float64

In [102]:
ts.resample('M').mean()

2000-01-31    0.656011
2000-02-29   -0.445222
2000-03-31   -0.244588
Freq: M, dtype: float64

## Time Zone Handling

In [103]:
import pytz

In [104]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [105]:
tz = pytz.timezone('America/New_York')

In [106]:
tz

### Time Zone Localization and Conversion

By default, time series in pandas are __time zone naive__. For example, consider the following time series:

In [107]:
rng = pd.date_range('3/9/2012 9:30',periods=6,freq='D')

In [108]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)

In [109]:
ts

2012-03-09 09:30:00   -0.556472
2012-03-10 09:30:00   -1.500445
2012-03-11 09:30:00   -0.084089
2012-03-12 09:30:00   -0.074759
2012-03-13 09:30:00   -1.310292
2012-03-14 09:30:00   -1.293995
Freq: D, dtype: float64

In [110]:
print(ts.index.tz)

None

In [111]:
pd.date_range('3/9/2012 9:30',periods=10,freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

Conversion from naive to __localized__ is handled by the __tz_localize__ method:

In [112]:
ts

2012-03-09 09:30:00   -0.556472
2012-03-10 09:30:00   -1.500445
2012-03-11 09:30:00   -0.084089
2012-03-12 09:30:00   -0.074759
2012-03-13 09:30:00   -1.310292
2012-03-14 09:30:00   -1.293995
Freq: D, dtype: float64

In [113]:
ts_utc = ts.tz_localize('UTC')

In [114]:
ts_utc

2012-03-09 09:30:00+00:00   -0.556472
2012-03-10 09:30:00+00:00   -1.500445
2012-03-11 09:30:00+00:00   -0.084089
2012-03-12 09:30:00+00:00   -0.074759
2012-03-13 09:30:00+00:00   -1.310292
2012-03-14 09:30:00+00:00   -1.293995
Freq: D, dtype: float64

In [115]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [116]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.556472
2012-03-10 04:30:00-05:00   -1.500445
2012-03-11 05:30:00-04:00   -0.084089
2012-03-12 05:30:00-04:00   -0.074759
2012-03-13 05:30:00-04:00   -1.310292
2012-03-14 05:30:00-04:00   -1.293995
Freq: D, dtype: float64

In [117]:
ts_eastern = ts.tz_localize('America/New_York')

In [118]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.556472
2012-03-10 14:30:00+00:00   -1.500445
2012-03-11 13:30:00+00:00   -0.084089
2012-03-12 13:30:00+00:00   -0.074759
2012-03-13 13:30:00+00:00   -1.310292
2012-03-14 13:30:00+00:00   -1.293995
Freq: D, dtype: float64

In [119]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.556472
2012-03-10 15:30:00+01:00   -1.500445
2012-03-11 14:30:00+01:00   -0.084089
2012-03-12 14:30:00+01:00   -0.074759
2012-03-13 14:30:00+01:00   -1.310292
2012-03-14 14:30:00+01:00   -1.293995
Freq: D, dtype: float64

In [120]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### Operations with Time Zone - Aware Timestamp Objects

In [121]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [122]:
stamp_utc = stamp.tz_localize('utc')

In [123]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [124]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00',tz='Europe/Moscow')

In [125]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [126]:
stamp_utc.value

1299902400000000000

In [127]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [128]:
from pandas.tseries.offsets import Hour

In [129]:
stamp = pd.Timestamp('2012-03-12 01:30',tz='US/Eastern')

In [130]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [131]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [132]:
stamp = pd.Timestamp('2012-11-04 00:30',tz='US/Eastern')

In [133]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [134]:
stamp + 2*Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations Between Different Time Zones

In [135]:
rng = pd.date_range('3/7/2012 9:30',periods=10,freq='B')

In [136]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)

In [137]:
ts

2012-03-07 09:30:00   -0.780570
2012-03-08 09:30:00   -0.638892
2012-03-09 09:30:00    1.561734
2012-03-12 09:30:00    0.002744
2012-03-13 09:30:00   -2.164074
2012-03-14 09:30:00    0.929631
2012-03-15 09:30:00   -0.500283
2012-03-16 09:30:00   -0.643308
2012-03-19 09:30:00    0.252903
2012-03-20 09:30:00    0.237124
Freq: B, dtype: float64

In [138]:
ts1 = ts[:7].tz_localize('Europe/London')

In [139]:
ts2 = ts[2:].tz_localize('Europe/Moscow')

In [140]:
result = ts1 + ts2

In [141]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 05:30:00+00:00', '2012-03-09 09:30:00+00:00',
               '2012-03-12 05:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 05:30:00+00:00', '2012-03-13 09:30:00+00:00',
               '2012-03-14 05:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 05:30:00+00:00', '2012-03-15 09:30:00+00:00',
               '2012-03-16 05:30:00+00:00', '2012-03-19 05:30:00+00:00',
               '2012-03-20 05:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

## Periods and Period Arithmetic

In [142]:
p = pd.Period(2007,freq='A-DEC')

In [143]:
p

Period('2007', 'A-DEC')

In [144]:
p + 5

Period('2012', 'A-DEC')

In [145]:
p - 2

Period('2005', 'A-DEC')

In [146]:
pd.Period('2014',freq='A-DEC')-p

7

In [147]:
rng = pd.period_range('2000-01-01','2000-06-30',freq='M')

In [148]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [149]:
pd.Series(np.random.randn(6),index=rng)

2000-01   -2.163153
2000-02   -1.167509
2000-03    0.010813
2000-04   -1.985089
2000-05   -0.975454
2000-06   -1.805812
Freq: M, dtype: float64

In [150]:
values = ['2001Q3','2002Q2','2003Q1']

In [151]:
index = pd.PeriodIndex(values,freq='Q-DEC')

In [152]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### Period Frequency Conversation

In [153]:
p = pd.Period('2007',freq='A-DEC')

In [154]:
p

Period('2007', 'A-DEC')

In [155]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [156]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [157]:
p = pd.Period('2007',freq='A-JUN')

In [158]:
p

Period('2007', 'A-JUN')

In [159]:
p.asfreq('M','start')

Period('2006-07', 'M')

In [160]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [161]:
p = pd.Period('Aug-2007','M')

In [162]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [163]:
rng = pd.period_range('2006','2009',freq='A-DEC')

In [164]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)

In [165]:
ts

2006    0.747826
2007   -0.498519
2008    1.377490
2009   -0.419770
Freq: A-DEC, dtype: float64

In [166]:
ts.asfreq('M',how='start')

2006-01    0.747826
2007-01   -0.498519
2008-01    1.377490
2009-01   -0.419770
Freq: M, dtype: float64

In [167]:
ts.asfreq('B',how='end')

2006-12-29    0.747826
2007-12-31   -0.498519
2008-12-31    1.377490
2009-12-31   -0.419770
Freq: B, dtype: float64

### Quarterly Period Frequencies

In [168]:
p = pd.Period('2012Q4',freq='Q-JAN')

In [169]:
p

Period('2012Q4', 'Q-JAN')

In [170]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [171]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [172]:
p4pm = (p.asfreq('B','e')-1).asfreq('T','s')+16*60

In [173]:
p4pm

Period('2012-01-30 16:00', 'T')

In [174]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [175]:
rng = pd.period_range('2011Q3','2012Q4',freq='Q-JAN')

In [176]:
ts = pd.Series(np.arange(len(rng)),index=rng)

In [177]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [178]:
new_rng = (rng.asfreq('B','e')-1).asfreq('T','s')+16*60

In [179]:
ts.index = new_rng.to_timestamp()

In [180]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

In [181]:
c = 5654

In [182]:
g = 356272

In [183]:
h = 2828

In [184]:
y = 7778

In [185]:
trtrt = 6464

In [186]:
r = 74747

In [187]:
t = 799

In [188]:
r = 7788

### Converting Timestamps to Periods (and Back)

### Creating a PeriodIndex from Arrays

## Resampling and Frequency Conversion

### Downsampling

### Upsampling and Interpolation

### Resampling with Periods

## Moving Windows Functions

### Exponentially Weighted Functions

### Binary Moving Windows Functions

### User-Defined Moving Window Functions