# Advanced pandas

The preceding chapters have focused on introducing different types of data wrangling workflows and features fo NumPy, pandas, and other libaries. Over time, pandas has developed a depth of features for power users. Thsi chapter digs into a few more advenced feature areas to help nyou deepen your expertise as a pandas user.

## Categorical Data

This section introduces the pandas __Categorical__ type. I will show how you can achieve better performances and memory use in some pandas operations by using it. I also introduce some tools for using categorical data in statistics and machine learning applications.

### Background and Motivation

In [1]:
import numpy as np; import pandas as pd

In [2]:
values = pd.Series(['apple','orange','apple',
                   'apple']*2)

In [3]:
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [4]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [9]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [10]:
values = pd.Series([0,1,0,0]*2)

In [11]:
dim = pd.Series(['apple','orange'])

In [12]:
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [13]:
dim

0     apple
1    orange
dtype: object

In [14]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

### Categorical Type in pandas

In [15]:
fruits = ['apple','orange','apple','apple']*2

In [16]:
N = len(fruits)

### Computations with Categoricals

### Categorical Methods

## Advanced GroupBy Use

### Group Transforms and "Unwrapped" GroupBys

### Grouped Time Resampling

## Techniques for Methods Chaining

### The pipe Method