# Data Aggregation and Group Operations

Categorizing a dataset and applyting a function to each group, whether an aggregation or transformation, is often a critical component of a data analyzis workflow. After loading, merging and preparing a dataset, you may need to compute group statistics of possible _pivot tables_ for reporting or visualization purposes. pandas provides a flexible __groupby__ interface, enableing you to slice, dice, and summarize datasets in a natural way.

In [3]:
import numpy as np
import pandas as pd

## GroupBy Mechanism

In [4]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                  'key2': ['one','two','one','two','one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

In [5]:
df

  key1 key2     data1     data2
0    a  one  0.478922 -1.860386
1    a  two  1.513760  0.968467
2    b  one -0.749724 -0.625278
3    b  two -1.044613  0.497543
4    a  one  0.041007 -0.959939

In [6]:
grouped = df['data1'].groupby(df['key1'])

In [7]:
grouped # The grouped variable is now a GroupBy object

In [8]:
grouped.mean()

key1
a    0.677896
b   -0.897169
Name: data1, dtype: float64

In [9]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()

In [10]:
means

key1  key2
a     one     0.259964
      two     1.513760
b     one    -0.749724
      two    -1.044613
Name: data1, dtype: float64

In [11]:
means.unstack()

key2       one       two
key1
a     0.259964  1.513760
b    -0.749724 -1.044613

In [12]:
states = np.array(['Ohio','Calofornia','California','Ohio','Ohio'])

In [13]:
years = np.array([2005,2005,2006,2005,2006])

In [14]:
df['data1'].groupby([states,years]).mean()

California  2006   -0.749724
Calofornia  2005    1.513760
Ohio        2005   -0.282846
            2006    0.041007
Name: data1, dtype: float64

In [15]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.677896 -0.617286
b    -0.897169 -0.063868

In [16]:
df.groupby(['key1','key2']).mean()

              data1     data2
key1 key2
a    one   0.259964 -1.410163
     two   1.513760  0.968467
b    one  -0.749724 -0.625278
     two  -1.044613  0.497543

In [17]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

### Iterating Over Groups

In [18]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one  0.478922 -1.860386
1    a  two  1.513760  0.968467
4    a  one  0.041007 -0.959939
b
  key1 key2     data1     data2
2    b  one -0.749724 -0.625278
3    b  two -1.044613  0.497543

In [19]:
for (k1,k2), group in df.groupby(['key1','key2']):
    print((k1,k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one  0.478922 -1.860386
4    a  one  0.041007 -0.959939
('a', 'two')
  key1 key2    data1     data2
1    a  two  1.51376  0.968467
('b', 'one')
  key1 key2     data1     data2
2    b  one -0.749724 -0.625278
('b', 'two')
  key1 key2     data1     data2
3    b  two -1.044613  0.497543

In [20]:
pieces = dict(list(df.groupby('key1')))

In [21]:
pieces['b']

  key1 key2     data1     data2
2    b  one -0.749724 -0.625278
3    b  two -1.044613  0.497543

In [22]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [23]:
grouped = df.groupby(df.dtypes,axis=1)

In [24]:
for dtype, group in grouped:
    print(dtype)
    print(group)

float64
      data1     data2
0  0.478922 -1.860386
1  1.513760  0.968467
2 -0.749724 -0.625278
3 -1.044613  0.497543
4  0.041007 -0.959939
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

### Selecting a Column or Subset of Columns

In [25]:
df.groupby('key1')['data1']

In [26]:
df.groupby('key1')['data2']

In [27]:
df.groupby(['key1','key2'])[['data2']].mean()

              data2
key1 key2
a    one  -1.410163
     two   0.968467
b    one  -0.625278
     two   0.497543

In [28]:
s_grouped = df.groupby(['key1','key2'])['data2']

In [29]:
s_grouped

In [30]:
s_grouped.mean()

key1  key2
a     one    -1.410163
      two     0.968467
b     one    -0.625278
      two     0.497543
Name: data2, dtype: float64

### Grouping with Dicts and Series

In [31]:
gh = 10

In [32]:
a = 20

In [33]:
b = 70

In [34]:
u = 45

### Grouping with Functions

### Grouping by Index Levels

## Data Aggregation

### Column-Wise and Multiple Function Application

### Returning Aggregated Data Without Row Indexes

## Apply: General split-apply-combine

### Suppressing the Group Keys

### Quantile and Bucket Analysis

### Example: Filling Missign Values with Group-Specific Values

### Example: Random Sampling and Permutation

### Example: Group Weighted Average and Correlation

### Example: Group-Wise Linear Regression

## Pivot Tables and Cross-Tabulation

### Cross-Tabulation: Crossstab