# Data Aggregation and Group Operations

Categorizing a dataset and applyting a function to each group, whether an aggregation or transformation, is often a critical component of a data analyzis workflow. After loading, merging and preparing a dataset, you may need to compute group statistics of possible _pivot tables_ for reporting or visualization purposes. pandas provides a flexible __groupby__ interface, enableing you to slice, dice, and summarize datasets in a natural way.

In [4]:
import numpy as np
import pandas as pd

## GroupBy Mechanism

In [5]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                  'key2': ['one','two','one','two','one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

In [7]:
df

  key1 key2     data1     data2
0    a  one  1.781053  0.501851
1    a  two  0.251518 -0.581977
2    b  one -3.007184 -0.104389
3    b  two -0.111249  1.255872
4    a  one  1.565611  0.748775

In [8]:
grouped = df['data1'].groupby(df['key1'])

In [10]:
grouped # The grouped variable is now a GroupBy object

In [15]:
grouped.mean()

key1
a    1.199394
b   -1.559217
Name: data1, dtype: float64

### Iterating Over Groups

### Selecting a Column or Subset of Columns

### Grouping with Dicts and Series

### Grouping with Functions

### Grouping by Index Levels

## Data Aggregation

### Column-Wise and Multiple Function Application

### Returning Aggregated Data Without Row Indexes

## Apply: General split-apply-combine

### Suppressing the Group Keys

### Quantile and Bucket Analysis

### Example: Filling Missign Values with Group-Specific Values

### Example: Random Sampling and Permutation

### Example: Group Weighted Average and Correlation

### Example: Group-Wise Linear Regression

## Pivot Tables and Cross-Tabulation

### Cross-Tabulation: Crossstab