# Data Aggregation and Group Operations

Categorizing a dataset and applyting a function to each group, whether an aggregation or transformation, is often a critical component of a data analyzis workflow. After loading, merging and preparing a dataset, you may need to compute group statistics of possible _pivot tables_ for reporting or visualization purposes. pandas provides a flexible __groupby__ interface, enableing you to slice, dice, and summarize datasets in a natural way.

In [1]:
import numpy as np
import pandas as pd

## GroupBy Mechanism

In [2]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                  'key2': ['one','two','one','two','one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

In [3]:
df

  key1 key2     data1     data2
0    a  one  0.564992 -1.240385
1    a  two -0.254568 -2.050136
2    b  one  0.022651  0.371142
3    b  two -0.893457 -0.115927
4    a  one  0.751404  0.744257

In [4]:
grouped = df['data1'].groupby(df['key1'])

In [5]:
grouped # The grouped variable is now a GroupBy object

In [6]:
grouped.mean()

key1
a    0.353943
b   -0.435403
Name: data1, dtype: float64

In [7]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()

In [8]:
means

key1  key2
a     one     0.658198
      two    -0.254568
b     one     0.022651
      two    -0.893457
Name: data1, dtype: float64

In [9]:
means.unstack()

key2       one       two
key1
a     0.658198 -0.254568
b     0.022651 -0.893457

In [10]:
states = np.array(['Ohio','Calofornia','California','Ohio','Ohio'])

In [11]:
years = np.array([2005,2005,2006,2005,2006])

In [12]:
df['data1'].groupby([states,years]).mean()

California  2006    0.022651
Calofornia  2005   -0.254568
Ohio        2005   -0.164233
            2006    0.751404
Name: data1, dtype: float64

In [13]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.353943 -0.848755
b    -0.435403  0.127607

In [14]:
df.groupby(['key1','key2']).mean()

              data1     data2
key1 key2
a    one   0.658198 -0.248064
     two  -0.254568 -2.050136
b    one   0.022651  0.371142
     two  -0.893457 -0.115927

In [15]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

### Iterating Over Groups

In [18]:
b = 12

In [19]:
c = 10

### Selecting a Column or Subset of Columns

### Grouping with Dicts and Series

### Grouping with Functions

### Grouping by Index Levels

## Data Aggregation

### Column-Wise and Multiple Function Application

### Returning Aggregated Data Without Row Indexes

## Apply: General split-apply-combine

### Suppressing the Group Keys

### Quantile and Bucket Analysis

### Example: Filling Missign Values with Group-Specific Values

### Example: Random Sampling and Permutation

### Example: Group Weighted Average and Correlation

### Example: Group-Wise Linear Regression

## Pivot Tables and Cross-Tabulation

### Cross-Tabulation: Crossstab