# Data Structures and Sequences

Python's data structures are simple but powerful Python objects. Mastering their use is a critical part of becoming a proficient Python programmer.

## Tuple

A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to create one is with a comma-separated sequence of values:

In [1]:
tup = 4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4,5,6),(7,8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

You can convert any sequence or iterator to a tuple by invoking tuple:

In [5]:
tuple([4,0,2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo',[1,2],True])

Once the tuple is created it's not possible to modify which object is stored in each slot:

In [10]:
# tup[2]=False

But if an object inside a tuple is mutable, such as a list, you can modify it in-place:

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

Operations on tuples:

In [13]:
# Concatenation

(4, None, 'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
# Multiplication

('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### Unpacking tuples

In [15]:
tup = (4,5,6)

In [16]:
a,b,c = tup

In [17]:
b

5

In [18]:
tup = 4,5,(6,7)

In [19]:
a,b,(c,d) = tup

In [20]:
d

7

Swapping of variable names:

In [21]:
a,b = 1,2

In [22]:
a

1

In [23]:
b

2

In [24]:
b,a= a,b

In [25]:
a

2

In [27]:
b

1

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [28]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [30]:
for a,b,c in seq:
    print('a={0}, b={1}, c={2}' .format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9