# Data Structures and Sequences

Python's data structures are simple but powerful Python objects. Mastering their use is a critical part of becoming a proficient Python programmer.

## Tuple

A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to create one is with a comma-separated sequence of values:

In [1]:
tup = 4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4,5,6),(7,8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

You can convert any sequence or iterator to a tuple by invoking tuple:

In [5]:
tuple([4,0,2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo',[1,2],True])

Once the tuple is created it's not possible to modify which object is stored in each slot:

In [10]:
# tup[2]=False

But if an object inside a tuple is mutable, such as a list, you can modify it in-place:

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

Operations on tuples:

In [13]:
# Concatenation

(4, None, 'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
# Multiplication

('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### Unpacking tuples

In [15]:
tup = (4,5,6)

In [16]:
a,b,c = tup

In [17]:
b

5

In [18]:
tup = 4,5,(6,7)

In [19]:
a,b,(c,d) = tup

In [20]:
d

7

Swapping of variable names:

In [21]:
a,b = 1,2

In [22]:
a

1

In [23]:
b

2

In [24]:
b,a= a,b

In [25]:
a

2

In [26]:
b

1

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [27]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [28]:
for a,b,c in seq:
    print('a={0}, b={1}, c={2}' .format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [29]:
values = 1,2,3,4,5

In [30]:
a,b, *rest = values

In [31]:
a,b

(1, 2)

In [32]:
rest

[3, 4, 5]

In [33]:
a,b, *_ = values

### Tuple methods

In [34]:
a = (1,2,2,2,3,4,2)

In [35]:
a.count(2)

4

## List

In contrast to tuples, lists are variable-length and their contents can be modifies in-place. You can define them using squared brackets [] or using the list type function:

In [36]:
a_list = [2,3,7, None]

In [37]:
tup = ('foo', 'bar', 'baz')

In [38]:
b_list = list(tup)

In [39]:
b_list

['foo', 'bar', 'baz']

In [40]:
b_list[1] = 'peekaboo'

In [41]:
b_list

['foo', 'peekaboo', 'baz']

The list function is frequently used in data processing as a way to materilize an iterator or generator expression:

In [42]:
gen = range(10)

In [43]:
gen

range(0, 10)

In [44]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Adding and removing elements

In [45]:
b_list.append('dwarf')

In [46]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [47]:
b_list.insert(1,'red')

In [48]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [49]:
b_list.pop(2)

'peekaboo'

In [50]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [51]:
b_list.append('foo')

In [52]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [53]:
b_list.remove('foo')

In [54]:
b_list

['red', 'baz', 'dwarf', 'foo']

Check if a list contains a value using the in keyword:

In [55]:
'dwarf' in b_list

True

In [56]:
'dwarf' not in b_list

False

### Concatenating and combining lists

In [57]:
[4,None,'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [58]:
x = [4, None, 'foo']

In [59]:
x.extend([7,8,(2,3)])

In [60]:
x

[4, None, 'foo', 7, 8, (2, 3)]

### Sorting

In [61]:
a =[7,2,5,1,3]

In [62]:
a.sort()

In [63]:
a

[1, 2, 3, 5, 7]

In [64]:
b = ['saw','small','He','foxes','six']

In [65]:
b.sort(key=len)

In [66]:
b

['He', 'saw', 'six', 'small', 'foxes']

### Binary search and maintaining a sorted list